fastapi
uvicorn[standard]
python-dotenv
pymupdf

langchain
langchain-community
langchain-qdrant
langchain-huggingface
langchain-text-splitters
langchain-nvidia-ai-endpoints

qdrant-client
sentence-transformers

pydantic